DATABASE_URL=postgresql://postgres:postgres@localhost:5432/amazon_sales?schema=public
PORT=3001
NODE_ENV=development

# Amazon SP-API OAuth
SP_API_CLIENT_ID=
SP_API_CLIENT_SECRET=
SP_API_APP_ID=
SP_API_REDIRECT_URI=http://localhost:3001/api/integration/callback
SP_API_MARKETPLACE_ID=A2Q3Y263D00KWC
SP_API_AWS_ACCESS_KEY=
SP_API_AWS_SECRET_KEY=
SP_API_ROLE_ARN=
